.title {
    display: flex;
    font-size: 5em;
    justify-content: center;
    padding: 40px;
}

.Background {
    background-image:url('pics/Green Blue Anime Scene Dessktop Wallpaper.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
            
}

