.title {
    display: flex;
    font-size: 5em;
    justify-content: center;
    padding: 40px;
}

.Background {
    background-image: url('pics/Green Blue Anime Scene Desktop Wallpaper.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white;
}

