.text {
    display: flex;
    font-size: 5em;
    justify-content: center;
    padding: 40px;
    margin: 0px;
    text-align: center;
}

body {
    margin: 0px;
}

.Background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('pics/Green Blue Anime Scene Desktop Wallpaper.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:1000px;
    width:100%;
    color: white;
    margin: 0px;
}

